@page
@{
    ViewData["Title"] = "Projects Posts";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2 class="content-block">Projects Posts</h2>

@(
Html.DevExtreme().DataGrid<TeamUp.Admin.Models.EF.ProjectPost>()
    .ColumnMinWidth(10)
    .ColumnAutoWidth(true)
    .CacheEnabled(true)
    .FilterRow(a => a.Visible(true))
    .HeaderFilter(b => b.Visible(false))
    .Grouping(c => c.ContextMenuEnabled(true))
    .Paging(p => p.PageSize(10))
    .Pager(p => p

        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 5, 10, 15 })
        .ShowInfo(true)
    )
    .Sorting(c => c.Mode(GridSortingMode.Multiple))
    .DataSource(ds => ds.Mvc()
        .Controller("ProjectPosts")
        .LoadAction("Get")
        .UpdateAction("Put")
        .Key("Id")
    )
    .RemoteOperations(true)
    .Editing(e => e
            .AllowUpdating(true)
        )
    .AllowColumnResizing(true)
    .ShowColumnLines(true)
    .Columns(columns =>
    {
        columns.AddFor(m => m.Id)
            .AllowEditing(false);

        columns.AddFor(m => m.Title)
            .AllowHeaderFiltering(false)
            .AllowSearch(true);

        columns.AddFor(m => m.PostingTime)
            .AllowEditing(false);

        columns.AddFor(m => m.IsStarted)
            .Width(100);

    })
)